.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-shrink: 0;
}

.logo-forge {
  width: 40vw;
  max-height: 25vw;
}

.social-logos {
}

.logo-bottom{
  stroke: 2;
  color: blue;
  
}

.typewritter-text {
  animation: animated-text 3s steps(29, end) 1s 1 normal both,
    animated-cursor 650ms steps(29, end) infinite;
  border-right: solid 3px #FE1C41;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 520px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #FE1C41;
  }
  to {
    border-right-color: transparent;
  }
}
